body {
    background: url("../images/bg.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

.login-group {
    border-radius: 10px;
    padding: 50px;
    height: 400px;
    width: 400px;
}

.captcha {
    font-weight: bolder;
    font-size: larger;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.absolute-center {
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}